.topstrip{
    width:100%;
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    position:fixed;
    top:0px;
    height:50px;
    background-color: black;
    color:white;
    text-align: right;
    font-size: 16px;
    font-family: Georgia;
}

.alertDiv{
    font-size:20px;
    text-align: center;
}

.gaCarousel{

}

.gaCarouselItem{
}

.gaSimpleResponse{
    font-size:14px;
    padding:5px;
    margin:5px;
    max-width: 300px;
}

.gaSuggestionChipRow{
    margin: 10px;
    padding:5px;
}

.gaSuggestionChipButton{
    margin:3px;
}

.gaListHeader{
    text-align:center;
    font-size:18px;
}

.gaListGroup{
    max-width:350px;
}

.gaListItem{
    cursor:pointer;
}

.gaCard{
    width:300px;
}

.gaCardText{
    font-size:14px;
}

.gaCardImage{
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}

.gaLinkOutSuggestion{
    max-width: 300px;
}

.textResponse{
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    border:solid 1px black;
    background-color: lightgray;
    max-width:450px;
}

div.textResponse p {
    margin-bottom: 0px;
}

div.textResponse img {
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.topbar{
    display:block;
    width:100%;
    overflow-y: scroll;
    position:fixed;
    top:50px;
    bottom:65px;
}

.bot-answer-container{
    border-radius: 5px;
    margin: 10px;
    padding:5px;
    border:solid 1px black;
    background-color: lightgray;
}

.bot-answer-row{
    display:inline-block;
    margin: 10px;
    padding:5px;
    min-height: 1em;
}

.bot-answer-container-inner{
    margin: 10px;
    padding:5px;
    min-height: 1em;
}

.card-text-container-div{
    width: 96%;
    margin: 0 auto;
}

.rounded-div-bot{
    display:inline-block;
    clear:left;
    /*max-width:80%;*/
    border-radius: 5px;
    background-color: #b2ff59;
    float:right;
    margin: 10px;
    padding:5px;
    min-height: 1em;
    /*max-width: 350px;*/
}
.rounded-div{
    display:inline-block;
    clear:right;
    max-width:80%;
    border-radius: 5px;
    margin: 10px;
    padding:5px;
    border:solid 1px black;
    /*background-color: lightgray;*/
    float:left;
}
.inputbox{
    outline:none;
    width:100%;
    height:40px;
    position:fixed;
    bottom:25px;
}

/*.card{
    !*max-width: 350px;*!
    margin: 0 auto;
    text-align: left;
    background-color: #e0e0e0;
}*/

.fontStyle{
    font-size:14px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid red;
    margin: 1em 0;
    padding: 0;
}

.divEndMessage{
    margin:0 auto;
}

/*
.progress {
    height: 25px !important;
}*/
